version: '3'

services:
  activemq:
    image: apache/activemq-artemis:latest-alpine
    ports:
      - 61616:61616
      - 8161:8161
    environment:
      - ARTEMIS_USER=artemis
      - ARTEMIS_PASSWORD=artemis
      - ANONYMOUS_LOGIN=false
    volumes:
      - activemq:/var/lib/artemis-instance

volumes:
  activemq:
