spring:
  activemq:
    packages:
      trust-all: true
    pool:
      max-connections: 500

app:
  web-socket:
    endpoint: /ws
    channel: /topic/greetings
    broker:
      destination-prefix: /topic
