spring:
  activemq:
    broker-url: tcp://localhost:61616
    user: artemis
    password: artemis
    packages:
      trust-all: true
    pool:
      max-connections: 500

app:
  web-socket:
    endpoint: /ws
    channel: /topic/greetings
    broker:
      destination-prefix: /topic
      host: localhost
      port: 61616
